

body{
    color:white;
    background-color: rgb(8, 8, 8);
}

header{
    text-align: center;
    justify-content: center;

}

h1{
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

header>img{
    
    width: 200px;
    padding-top: 20px;
    

}

p{
    margin: top 50px;
    margin-bottom: 50px;
}

footer  {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:300px;
}


a{
    color: green;

}

form{
    margin-left: 100px;
}



main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cube{
    width: 40%;
}



.space {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(115, 115, 116);
width: 100vw;


}

.space>p{

    margin:5px;
}

.space h1{
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: rgb(68, 67, 67);


}

 
