
* html{


    padding: 0;
}
  body{

    color:white;
    background-color: rgb(8, 8, 8);
    margin-bottom: 20px;
}

header{
    text-align: center;
    justify-content: center;

}

h1{
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

header>img{
    
    width: 200px;
    padding-top: 100px;
    margin-top: 0%;

    

}

p{
    margin: top 10px 0 ;

}

footer  {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


}


a{
    color: rgb(5, 235, 5);

}

form{
    margin-left: 100px;
}



main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10%;

}


.description {

    margin-bottom: 20px;
}

.cube{
    width: 30%;
    margin: 0%;
    padding-bottom: 0;
}



.space {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(115, 115, 116);
width: 100vw;



}

.space>p{

    margin:5px;
}

.space h1{
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: rgb(68, 67, 67);


}

 
